/* :root {
  @media (max-width: 319px) {
    --img-width: 250px;
  }

  @media (min-width: 320px) and (max-width: 819px) {
    --img-width: 250px;
  }

  @media (min-width: 820px) {
    --img-width: 0px;
  }
} */

@keyframes size-change {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes color-change {
  0% {
    color: red;
  }

  50% {
    color: green;
  }

  100% {
    color: black;
  }
}

@keyframes inversion {
  0% {
    color: #0a0a5c;
  }

  100% {
    color: #fafafa;
  }
}

body {
  background-color: #aececf;
  margin: 0px;
}

main {
  display: flex;
}

.container {
  margin: auto;
  color:#0a0a5c;
}

.meme-pict {
  transform: scale(0);
  display: none;
  border-radius: 5px;
}

label:hover~.meme-pict {
  display: block;
  animation: size-change 1000ms forwards;
}

input:checked~.meme-pict {
  display: block;
  transform: scale(1);
}

input:checked~.icon {
  transform: rotate(45deg);
}

label:hover {
  animation: color-change 1000ms forwards;
}

label:hover~.icon {
  animation: rotate 500ms forwards;
}

.meme {
  position: relative;
  width: 650px;
  margin: 10px;
  padding: 20px;
  border: darkblue solid 2px;
  border-radius: 10%;
}

label {
  display: inline-block;
  width: 100%;
  height: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.op {
  visibility: hidden;
}

/* img {
  overflow-clip-margin: unset;
  overflow: unset;
} */

input {
  display: none;
}

.icon {
  position: absolute;
  /* float: left; */
  /* margin-left: calc(650px - 2px - 32px); */
  margin-left: -30px;
  /* margin-top: -30px; */
}

@media (max-width: 319px) {
  .meme-pict {
    width: 250px;
  }

  .meme {
    width: 280px;
    margin: 10px;
    padding: 5px;
  }
}

@media (min-width: 320px) and (max-width: 819px) {
  .meme-pict {
    width: 300px;
  }

  .meme {
    width: 300px;
    margin: 5px;
    padding: 5px;
  }
}

@media (max-width: 319px) {
  .meme-pict {
    width: 250px;
  }
}

@media screen {
  .container:hover {
    animation: inversion 500ms forwards;
  }
}
