:root {
  --meme-size: 20em;
  --meme-container-width: 24em;
  --icon-size: 1.2em;
}

@media screen {
  .container:hover {
    animation: inversion 500ms forwards;
  }
}

@keyframes color-change {
  0% {
    color: #cc4d4d;
  }

  50% {
    color: #008000;
  }

  100% {
    color: #000000;
  }
}

@keyframes inversion {
  0% {
    color: #0a0a5c;
  }

  100% {
    color: #fafafa;
  }
}

body {
  background-color: #aececf;
  margin: 0;
  font-size: 2em;
}

main {
  display: flex;
}

.container {
  margin: auto;
  color:#0a0a5c;
}

.meme-pict {
  width: var(--meme-size);
  height: 0;
  margin: auto;
  border-radius: 7%;
  transition: all 1s ease-in-out;
}

.meme:hover>.meme-pict {
  display: block;
  height: var(--meme-size);
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

input:checked~.meme-pict {
  display: block;
  height: var(--meme-size);
  transition-duration: 1000ms;
}

input:checked~.icon,
.meme:hover>.icon {
  transform: rotate(45deg);
  transition-duration: 1000ms;
}

input:checked~label {
  color: #000000 !important;
}

.meme:active>.meme-pict {
  filter: blur(7px);
  transition: 500ms;
}

label:hover {
  animation: color-change 1000ms forwards;
}

.meme {
  width: var(--meme-container-width);
  margin: auto;
  padding: 1em;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 100%;
  height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 20;
}

input {
  display: none;
}

.icon {
  margin-left: calc(var(--meme-container-width) - var(--icon-size));
  margin-top: -32px;
  width: var(--icon-size);
  height: var(--icon-size);
  transition: all 1s ease-in-out;
}

.row {
  height: 0.25em;
  margin: 2em 1em;
  background-color: #0a0a5c;
  border-radius: 0.2em;
}

@media (min-width: 320px) and (max-width: 819px) {
  :root {
    --meme-size: 12em;
    --meme-container-width: 15em;
  }

  body {
    font-size: 1.2em;
  }
}

@media (max-width: 319px) {
  :root {
    --meme-size: 10em;
    --meme-container-width: 12em;
  }

  body {
    font-size: 1em;
  }
}
